@charset "utf-8";

/*//////////////////////// hearder ////////////////////////*/
header {
    width: 100%;
    height: 114px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

#header_top {
    width: 100%;
    height: 72px;
}

#header_top_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header_main {
    width: 1202px;
    height: 42px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

#header_color {
    width: 1025px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#category {
    width: 575px;
    height: 42px;
    justify-content: space-around;
    align-content: center;
}

#category nav ul {
    display: flex;
    justify-content: space-around;
    font-size: medium;
    font-weight: bold;
}

#login {
    width: 354px;
    height: 14px;
}

#login nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 9px;
    padding: 0.635px 0 0.635px 0;
}

#header_not_color {
    width: 177px;
    height: 100%;
    background-color: white;
}

/*//////////////////////// main ////////////////////////*/
main {
    width: 1202px;
    height: 667px;
    margin: 0 auto;
}

#main_top {
    width: 100%;
    height: 145px;
    margin-top: 20px;
}

#mt_top {
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 180px;
    height: 52px;
    margin: 21px 0 0 60px;
    transform: scale(1.5);
}

#search {
    width: 669.57px;
    height: 49px;
    margin-top: 15px;
    margin-right: 100px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    border: 1px solid black;
}

#search_category {
    width: 120px;
    height: 100%;
    border: none;
    padding-left: 10px;
}

#search_main {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
}

#search_btn {
    border: none;
    background-color: #fff;
    padding-right: 15px;
}

#search_btn i {
    background-color: transparent;
}


#emoticon {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

#shopping {
    i {
        width: 32px;
        height: 28px;
        margin: 33px 20px 0 20px;
        transform: scale(1.4);
    }
}

#mypage {
    i {
        width: 49px;
        height: 49px;
        margin: 45px 1px 0 10px;
        transform: scale(1.9);
    }
}

menu {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
}

#menu_img {
    width: 46px;
    height: 46px;
    transform: scale(1.7);
    padding: 9px 0 0 20px;
}

#menu_img_btn {
    border: none;
    background-color: #fff;
}

#menu_img_btn i {
    background-color: transparent;
}


#menu_text {
    width: 845px;
    height: 67px;
    align-content: center;
    
}

#menu_text nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0 0 4px 25px;
}

#main_down {
    width: 100%;
    height: 522px;
    display: flex;
    flex-direction: column;
}

#slider {
    width: 1202px;
    height: 399px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.main_swiper {
    width: 891px;
    height: 382px;
    margin-left: 0;
}

.main_swiper .swiper {
    width: 100%;
    height: 100%;
}

.main_swiper .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
}

.main_swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper_right {
    width: 275px;
    height: 382px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.swiper_right .swiper {
    width: 100%;
    height: auto;
}

.swiper_right .swiper-slide {
    width: 275px;
    height: calc(100% - 106px);
}

.swiper_right .swiper-slide img {
    width: 100%;
    height: auto;
}

#event {
    width: 1202px;
    height: 123px;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

#event_left {
    width: 891px;
    height: 91px;
    margin-left: 1px;
    display: flex;
    justify-content:space-between;
}

#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth, #tenth {
    width: 68px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#event_right {
    width: 275px;
    height: 91px;
}

/*//////////////////////// section ////////////////////////*/
section {
    width: 1202px;
    height: 3020px;
    margin: 0 auto;
}

#today_pick {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#today_pick_top {
    width: 100%;
    height: 83px;
    background-color: aqua;
    display: flex;
    align-items: center;
}

#today_pick_top h2 {
    padding-left: 15px;
}

#today_pick_top nav ul {
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
}

#today_pick_slider {
    width: 100%;
    height: 287px;
    background-color: brown;
}

#ad {
    width: 100%;
    height: 258px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ad_1, #ad_2 {
    width: 589px;
    height: 181px;
}

#Recommendation {
    width: 100%;
    height: 453px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#Recommendation h2 {
    padding: 0 0 20px 15px;
}

#Recommendation .swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

#Recommendation .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;
}

#Recommendation .swiper-slide .text{
    flex-direction: column;
    justify-content: flex-start;
}

#Recommendation .swiper-slide img {
    width: 100%;
    height: auto;
}

#Recommendation_2 {
    width: 100%;
    height: 453px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#Recommendation_2 h2 {
    padding: 0 0 20px 15px;
}

#Recommendation_2 .swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

#Recommendation_2 .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;
}

#Recommendation_2 .swiper-slide .text{
    flex-direction: column;
    justify-content: flex-start;
}

#Recommendation_2 .swiper-slide img {
    width: 100%;
    height: auto;
}

#best_book {
    width: 100%;
    height: 767px;
    background-color: #f4f4f4;
    padding-top: 40px;
    display: flex;
}

#best_book_aside {
    width: 205px;
    height: 100%;
    padding-left: 10px;
}

#bb_h {
    display: flex;
}

#bb_h h2 {
    margin: 0 30px 35px 0;
}

#bb_h h4 {
    margin-top: 5px;
}

#bb_all {
    width: 100%;
    height: 250px;
}

#bb_all nav ul li {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

#bb_steadyseller {
    width: 100%;
    height: 100px;
}

#bb_steadyseller nav ul li {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

#best_book_main {
    width: 997px;
    height: 100%;
    padding-right: 10px;
}

#best_book_main_1 {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-between;
}

#best_book_main_2 {
    width: 100%;
    height: 330px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

#bb1_picture_1, #bb1_picture_2, #bb1_picture_3, #bb1_picture_4, #bb1_picture_5, #bb2_picture_1, #bb2_picture_2, #bb2_picture_3, #bb2_picture_4, #bb2_picture_5 {
    width: 181px;
    height: 330px;
    display: block;
}

#best_book_main img {
    width: 181px;
    height: 259px;
}

#best_book_main span {
    width: 23px;
    height: 23px;
    background-color: #ddd;
    color: black;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}

#banner {
    width: 100%;
    height: 297px;
    padding-top: 70px;
}

#casting {
    width: 100%;
    height: 418px;
    display: flex;
    flex-direction: column;
}

#casting h2 {
    padding: 0 0 20px 15px;
}

#casting h4 {
    padding-top: 10px;
}

#casting .swiper {
    width: 100%;
    height: 100%;
}

#casting .swiper-slide {
    width: 100%;
    height: 279px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#casting .swiper-slide img {
    width: 100%;
    height: auto;
}

/*//////////////////////// footer ////////////////////////*/
footer {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

#full-inner {
    width: 100%;
    height: 65px;
    border-top: 1px solid #c5bebe;
    border-bottom: 1px solid #c5bebe;
}

#footer_top {
    width: 1202px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

#ft_left {
    width: 591px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#ft_right {
    width: 591px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#footer_top a {
    margin-right: 20px;
}

#footer_top span {
    font-size: 15px;
}

#footer_main {
    width: 1202px;
    height: 285px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#fm_left {
    width: 700px;
    height: 100%;
    padding-top: 35px;
}

#fml_logo {
    width: 100%;
    height: 65px;
    padding-left: 1px;
    display: flex;
}

#fml_logo_1 {
    width: 150px;
    height: 43px;
}

#logo_2 {
    width: 180px;
    height: 52px;
    margin: 21px 0 0 60px;
    transform: scale(1.5);
}

#fml_logo_2 {
    width: 150px;
    height: 43px;
    margin-left: 20px;
    display: flex;
    align-items:flex-end;
}

#logo_3 {
    width: 180px;
    height: 52px;
    margin: 21px 0 0 60px;
    transform: scale(1.5);
}

#fml_info1 {
    width: 100%;
    height: 47px;
}

#fml_info1 nav ul {
    display: flex;
    font-size: 14px;
    line-height: 7px;
    padding-top: 6px;
}

#fml_info1 nav ul li {
    padding: 0 8px;
    border-right: 1px solid gray;
}

#fml_info1 nav ul li:first-child {
    padding: 0 10px 0 0;
}

#fml_info1 nav ul li:last-child {
    border-right: none;
}

#fml_info2 {
    width: 100%;
    height: 94px;
    display: flex;
    flex-direction: column;
    padding-top: 5px
}

#fml_info2 nav ul {
    display: flex;
    font-size: 10px;
    line-height: 7px;
    padding-top: 6px;
}

#fml_info2 nav ul li {
    padding: 0 8px;
    border-right: 1px solid gray;
}

#fml_info2 nav ul li:first-child {
    padding: 0 10px 0 0;
}

#fml_info2 nav ul li:last-child {
    border-right: none;
}

#fml_info2_1{
    display: flex;
}

#fml_info2 button {
    margin-top: 2px;
    font-size: 8px;
}

#fml_info2_2 {
    padding-top: 7px;
}

#fml_info2_3 {
    padding-top: 11px;
}

#fml_info3 {
    width: 100%;
    height: 44px;
    font-size: 10px;
}

#fm_right {
    width: 413px;
    height: 227px;
    margin-top: 58px;
}

#fmr_info1 {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: space-between;
}

#fmr_info1 button {
    width: 200px;
    height: 100%;
    text-align: start;
    padding-left: 15px;
    font-size: 12px;
}

#fmr_info2 {
    width: 100%;
    height: 78px;
    padding-top: 8px;
}

#fmr_info2_top {
    font-size: 10px;
    padding-top: 5px;
}

#fmr_info2_top button {
    font-size: 8px;
    margin-top: 2px;
}

#fmr_info2_down {
    font-size: 10px;
    padding-top: 8px;
}

#fmr_info3 {
    width: 100%;
    height: 106px;
    display: flex;
    background-color: gold;
}

#fmr_info3_left {
    width: 115px;
    height: 100%;
    padding-top: 10px;
    font-size: 9px;
    display: flex;
}

#fmr_info3_left img {
    width: 32px;
    height: 32px;
}

#fmr_info3_left span {
    
}

#fmr_info3_right {
    width: 298px;
    height: 100%;
    font-size: 9px;
}

